$backgroundColor0: #131413;
$backgroundColor1: #141415;
$backgroundColor2: #25272A;
$backgroundColor3: #323538;
$backgroundColor4: #484C50;
$blue1: #0C51F1;
$blue2: #3479FF;
$blue3: #034CF4;
$green1: #0DBC48;
$green2: #44D72E;
$primaryColor: #FFFFFF;
$orange1: #F35328;
$red1: #E93A0B;
$yellow1: #FDF752;
$textColor1: #FFFFFF;
$textColor2: rgba(#D9D9D9, 0.6);
$textColor3: rgba(#D9D9D9, 0.3);
$line1: rgba(#FFFFFF, 0.2);
$border1: solid 1px $line1;
$padding1: 24px;
$cardHeight: 379px;
$fontFamily: 'Lexend Deca', system-ui, -apple-system, BlinkMacSystemFont,sans-serif;
